<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501881345171-ikch6unv9pt8hsl1aga5dfsmniq491sr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501881345171-ikch6unv9pt8hsl1aga5dfsmniq491sr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>501881345171-1rf2sd3s9inq8l2l97g069h1fqsct7ff.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFsZu5-ryX2u4oFZWg2MjXZHfFrLgkNbY</string>
	<key>GCM_SENDER_ID</key>
	<string>501881345171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.medlife.easyLo</string>
	<key>PROJECT_ID</key>
	<string>easylo-ee49d</string>
	<key>STORAGE_BUCKET</key>
	<string>easylo-ee49d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501881345171:ios:44b88c5cb1c64d56c9e966</string>
	<key>DATABASE_URL</key>
	<string>https://easylo-ee49d.firebaseio.com</string>
</dict>
</plist>